.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  padding-left: 0;
  padding-bottom: 0;
  list-style: none;
  padding: 50px 15px;
}

.nav-link {
  color: #29a19e !important;
  border-radius: .25rem;
  text-align: center !important;
  padding: .5rem 1rem;
  display: block;
  flex: 1 1 auto !important;
  text-decoration: none;
  height: 36px;
  animation: fade-in-zoom-out .5s .5s 1 ease both
}

.nav-link.active {
  color: white !important;
  background-color:#026269 !important; /*alternative color: #0c5e5b , #367780, #275756 */
}

.nav-link.disabled {
  color: #6c757d;
}

.app-logo {
  height: 75px;
  margin: -20px 5px 10px 5px;
}

.fade-in-logo {
  animation: fade-in-zoom-out .5s .5s 1 ease both
}

@keyframes fade-in-zoom-out {
  0% {
    transform: translateZ(500px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
