.all-categories-header {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 10px 50px 0px 50px;
  margin-bottom: 25px;
  color: #d7e0e0; /* #a9dee4 */
  animation: fade-in-zoom-out 2s .5s 1 ease both
}

.category-container {
  color: #eee;
}

.subtitle {
  color: #eee;
}

.no-app-message {
  color: #212529;
}

@keyframes fade-in-zoom-out {
  0% {
    transform: translateZ(500px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

.category-conatiner {
  margin-bottom: 50px;
}

.category-header-name {
  margin-top: 60px;
  margin-bottom: 50px;
}
