.title {
  text-align: center;
  margin: 20px 5px;
}

.detail-page-header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px 20px 0px 20px;
  margin: 15px;
  margin-bottom: 25px;
  color: #d7e0e0;
}


.modal-view  {
  visibility: visible;
}

.modal-view .hide {
  visibility: hidden;
}


.detail-view  {
  visibility: visible;
}

.detail-view .hide {
  visibility: hidden;
}
