.title {
  text-align: center;
  margin: 20px 5px;
}

.detail-page-header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px 50px 0px 50px;
  margin: 50px;
  margin-bottom: 25px;
  color: #d7e0e0;
}


.modal-view  {
  visibility: visible;
}

.modal-view .hide {
  visibility: hidden;
}


.detail-view  {
  visibility: visible;
}

.detail-view .hide {
  visibility: hidden;
}

/* ====================================== */
#modal-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  /* z-index: 1; */
}

.modal-container.review-modal {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.review-modal .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.review-modal.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.review-modal.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container .error-message {
  margin: 20px 5px;
  color: rgba(247, 147, 29, 1);
  font-weight: bold;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.interstitial-modal-overlay {
  background: linear-gradient(rgba(0, 0, 0, 1), hsla(185, 30%, 50%, 1.6), hsla(170, 50%, 10%, 0));
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interstitial-modal {
  background: #eee;
  position: absolute;
  width: 600px;
  height: 80%;
 }
