* {
	 font-family: 'Poppins', sans-serif;
	 /* font-family: 'Roboto Slab', serif; */
	 /* font-family: 'PT Sans', sans-serif; */
	 /* font-family: 'Kosugi Maru', sans-serif; */
 }

body {
	margin: 0 auto;
	line-height: 1.3em;
	height: 100%;
	background: radial-gradient(circle, #36383F, #202125);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%; /* Prevent jump from scrollbar appearing on only some pages */
}

.app {
	padding: 15px;
	height: 90vh;
}

.brand-logo {
	margin-left: 20px;
}

.nav-item {
	margin-right: 10px;
}

.list-entry-item {
  cursor: pointer;
	font-weight: bold;
	margin: 20px 80px;
}

h6 {
	line-height: 2.1;
}

.jumbotron-title {
	color: white;
	text-align: center;
	padding: 20px 50px 50px 50px;
	margin: 50px;
}

.card-panel {
	margin-top: 30px;
	color: white !important;
	background: black;
	border: 2px solid #282a2f;
	min-height: 300px;
}


.app-background {
	margin: 5px;
	background: #1e2126;
}

hr {
	height: .75px;
	width: 85%;
	background: #026269;
}

td {
	color: black !important;
}

.nav-btn {
	background: #367780; /* #075250 */
}

.detail-view.hide {
	visibility: hidden;
}

.loading-text {
	color: white;
	font-size: 3em;
	position: absolute;
	top: 30%;
	left: 42.5%;
}
